* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f5f9ff;
}

/* HEADER */
.header {
    background: white;
    border-bottom: 1px solid #eee;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    color:linear-gradient(135deg, #007BFF, #60abf7);
}

/* HERO */
.hero {
    background: linear-gradient(135deg, #007BFF, #60abf7);
    color: white;
    text-align: center;
    padding: 60px;
}

/* SEARCH */
.search-section {
    margin: 30px auto;
    text-align: center;
}

#searchInput {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.filters {
    margin-top: 15px;
}

.filter-btn {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    background: #ddd;
    border-radius: 20px;
    cursor: pointer;
}

.filter-btn.active {
    background: linear-gradient(135deg, #007BFF, #66B2FF);
    color: white;
}

/* EVENTS */
.events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.event-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    transition: 0.3s;
}

.event-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.event-card img {
    width: 100%;
    border-radius: 10px;
}

.event-card h3 {
    margin: 10px 0;
}

.event-card span {
    color: linear-gradient(135deg, #007BFF, #66B2FF);
    font-weight: bold;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}