*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
}

header{
    background:#000000;
    color:white;
    padding:15px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.banner{
    background:rgb(0, 54, 101);
    color:white;
    text-align:center;
    padding:60px;
}

.content{
    padding:30px;
}

.card{
    border:1px solid #ccc;
    padding:20px;
    margin:15px 0;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}