body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(90deg, #a18cd1, #fbc2eb);
}

/* NAV */
.nav {
    width: 90%;
    margin: 20px auto;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    border-radius: 40px;
}

.logo {
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    padding: 8px 16px;
    border-radius: 20px;
}

.menu .active {
    background: white;
}

.nav-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-right input {
    padding: 8px;
    border-radius: 20px;
    border: none;
}

.btn {
    padding: 8px 16px;
    border-radius: 20px;
    background: white;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}

.hero img {
    border-radius: 20px;
}

/* CATEGORY */
.category {
    text-align: center;
}

.category button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

.category .active {
    background: purple;
    color: white;
}

/* SECTION */
.section {
    padding: 40px;
}

.section h2 {
    margin-bottom: 20px;
}

/* GRID */
.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* CARD */
.card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* TOP */
.top-card {
    background: gold;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
}

/* BANNER */
.banner {
    margin: 40px;
    padding: 60px;
    text-align: center;
    background: white;
    border-radius: 20px;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}